.cookieConsent {
  background-color: blue;
  align-items: center;
}
.buttonStyle {
  color: "#4e503b";
  font-size: "13px";
}
.cookieHeader {
  color: #fff;
  font-size: 16px;
  margin-bottom: 8px;
}
.cookieContent {
  font-size: 14px;
  margin-bottom: 0;
}
